In [1]:
import pandas as pd

In [4]:
news = pd.read_excel('news_2015.xlsx')

In [5]:
news.head()

,Unnamed: 0,제목,내용,언론사,날짜
0,0,광주기독교계 미쓰비시 불매운동 동참,// \t\n\t광주지역 기독교계가 일본 기업 미쓰비시 불매운동에 동참했다. 광주기...,경향신문,2015.08.12.
1,1,롯데 불매운동 속 신동주 일본어 인터뷰 눈길 '부글부글',// 롯데 불매운동[스포츠서울] 신격호 신동빈 부자 전쟁에 소비자들이 롯데 불매운동...,스포츠서울,2015.08.04.
2,2,"시민단체, ""롯데는 일본기업, 연말까지 불매운동 전개""",// 가족간 경영권 분쟁으로 내홍을 겪고 있는 롯데그룹에 대한 국민 반감이 커지...,파이낸셜뉴스,2015.08.04.
3,3,[롯데 경영권 분쟁]“실상은 일본기업”… 롯데 불매운동 확산,// ㆍ‘광윤사’가 그룹 좌지우지ㆍ신동주 ‘일본어 인터뷰’도 대중 ‘반일 정서’ 자...,경향신문,2015.08.03.
4,4,[롯데] 제품 불매운동에 직원들 '억울',// \t\n\t【 앵커멘트 】 롯데그룹의 국적 논란이 제품 불매운동으로 이어지자...,MBN,2015.08.07.

In [7]:
news_rank = pd.DataFrame(news.groupby('언론사').size())

In [8]:
news_rank.head()

       0
언론사
JTBC   8
KBS    9
MBC    2
MBN   19
SBS    4

In [10]:
news_rank = news_rank.sort_values(by=0, ascending=False)

In [12]:
news_rank.to_excel('2015뉴스빈도.xlsx')