In [3]:
import pandas as pd

In [4]:
news = pd.read_excel('2019_news_final.xlsx')

In [5]:
news.head()

,Unnamed: 0,제목,내용,언론사,날짜
0,0,"[오후토론] ‘경제보복’ 꺼내든 日…정부도 맞대응 움직임, 카드는?",동영상 뉴스\n\n\n\n\n ■ 비즈플러스 '오후토론' - 윤창현 서울시립대 경영...,SBS CNBC,2019.07.01.
1,1,한·일 무역전쟁에 불매운동 번질라…떨고있는 유니클로·데상트·아사히,"""영향 제한적"" 기대하면서도…과거와 다른 분위기에 '우려'↑© News1 이은현 ...",뉴스1,2019.07.02.
2,2,"“일본의 수출 중단 사태, 자동차 불매운동이라도 나서야”",전문가 “일본의 한국 수출 중단 사태 6개월 이상 지속될 듯”성윤모 산업통상자원부...,한국일보,2019.07.02.
3,3,“우리도 일본 제품 불매하자” 일본 경제보복에 반일감정 폭발,“일본 관광 6개월만 끊자” 격앙… 일각 “똑같은 짓 삼가야”지난 1일 나가미네 ...,한국일보,2019.07.02.
4,4,"""日수출규제에 불매운동 벌어질라""···국내진출 일본 기업들 전전긍긍","""日규제 발동 근거 명확지 않아""靑 언급자제...정책실 '비상체제'강경화 ""상황보...",서울경제,2019.07.02.

In [4]:
len(news)

13348

In [6]:
newsperpress = pd.DataFrame(news.groupby('언론사').size())

In [7]:
newsperpress.head()

          0
언론사
JTBC    170
KBS     323
KBS 연예    1
MBC     412
MBN     169

In [8]:
newsperpress=newsperpress.sort_values(by=0,ascending=False)

In [9]:
newsperpress.to_excel('언론사별_뉴스.xlsx')

In [10]:
newsperpress.head(40)

            0
언론사
뉴스1       943
연합뉴스      828
뉴시스       684
YTN       496
머니투데이     490
이데일리      488
노컷뉴스      450
아시아경제     419
MBC       412
세계일보      377
헤럴드경제     362
매일경제      344
한국경제      343
국민일보      329
중앙일보      329
파이낸셜뉴스    325
KBS       323
서울경제      304
한국일보      282
SBS       275
머니S       265
서울신문      253
경향신문      241
SBS CNBC  232
오마이뉴스     219
디지털타임스    212
조선일보      207
한겨레       200
부산일보      192
연합뉴스TV    174
JTBC      170
MBN       169
아이뉴스24    166
한국경제TV    152
동아일보      146
매일신문      118
스포츠서울     118
프레시안      116
데일리안      111
강원일보      109