In [1]:
import os
from os.path import exists
import requests  
from bs4 import BeautifulSoup 
from IPython.display import Image
import time
import re

from selenium import webdriver
from selenium.webdriver.remote.webelement import WebElement
from selenium.webdriver.common.keys import Keys
from selenium.webdriver import ActionChains

In [7]:
driver_path = "driver/chromedriver.exe"
driver = webdriver.Chrome(executable_path=driver_path)

url = "http://subway.co.kr/storeSearch"
driver.get(url)
driver.maximize_window()

time.sleep(3)

In [8]:
search = driver.find_element_by_xpath('//*[@id="keyword"]')
search.click()
search.send_keys("서울")
search.send_keys(Keys.RETURN)

In [9]:
html = driver.page_source
soup = BeautifulSoup(html, "lxml")
# total = soup.find('p', 'search_total').get_text()
total = soup.find('strong').get_text()
total

'142'

In [2]:
driver_path = "driver/chromedriver.exe"
driver = webdriver.Chrome(executable_path=driver_path)

url = "http://subway.co.kr/storeSearch"
driver.get(url)
a = ['서울','광주','대구','대전','부산','울산','인천']
Total = []

for i in a:
    driver.get(url)
    search = driver.find_element_by_xpath('//*[@id="keyword"]')
    search.click()
    search.send_keys(i)
    search.send_keys(Keys.RETURN)
    time.sleep(3)

    html = driver.page_source
    soup = BeautifulSoup(html, "lxml")
    
    total = soup.find('strong').get_text()
    Total.append(total)

In [3]:
import pandas as pd

Subway = pd.DataFrame({'행정구역': a, '매장수':Total})
Subway

  행정구역  매장수
0   서울  142
1   광주    4
2   대구   13
3   대전   20
4   부산   36
5   울산    7
6   인천   19

In [4]:
Subway.to_csv('Subway.csv',encoding='EUC-KR', index= False)